---
import BaseHead from '../../components/BaseHead.astro'
import Header from '../../components/Header.astro'
import PostList from '../../components/PostList.astro'
import Footer from '../../components/Footer.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title="All blogs - Gaurav Shukla"
      description="All blogs by Gaurav Shukla"
    />
  </head>
  <body>
    <Header />
    <main>
      <section class="wrapper space-y-8 py-16">
        <h1 class="text-sm font-bold tracking-widest text-slate-200 uppercase">
          All posts
        </h1>
        <PostList />
      </section>
    </main>
    <Footer />
  </body>
</html>
