@font-face {
  font-family: 'Inter';
  src: url('/fonts/InterVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/InterVariable-Italic.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

@layer base {
  html {
    @apply scroll-smooth antialiased scheme-dark;
  }

  body {
    @apply bg-slate-900 leading-relaxed text-slate-400;
  }

  @view-transition {
    navigation: auto;
  }
}

@layer components {
  .wrapper {
    @apply mx-auto max-w-5xl px-4 md:px-6;
  }
}
