---
const today = new Date()
---

<footer class="border-t border-slate-700">
  <p class="wrapper py-6 text-center text-sm text-pretty">
    &copy; {today.getFullYear()} Gaurav Shukla. All rights reserved.
  </p>
</footer>
